{% extends 'base.html' %}
{% load static %}

{% block title %}Register New Patient{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-user-plus"></i> Register New Patient</h4>
                </div>
                <div class="card-body">
                    <form method="post" id="patient-create-form">
                        {% csrf_token %}
                        
                        <!-- Personal Information -->
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="border-bottom pb-2 mb-3">Personal Information</h5>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }} *</label>
                                    {{ form.first_name }}
                                    {% if form.first_name.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.first_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }} *</label>
                                    {{ form.last_name }}
                                    {% if form.last_name.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.last_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.arabic_name.id_for_label }}" class="form-label">{{ form.arabic_name.label }}</label>
                                    {{ form.arabic_name }}
                                    {% if form.arabic_name.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.arabic_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.its_id.id_for_label }}" class="form-label">{{ form.its_id.label }}</label>
                                    {{ form.its_id }}
                                    {% if form.its_id.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.its_id.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.gender.id_for_label }}" class="form-label">{{ form.gender.label }} *</label>
                                    {{ form.gender }}
                                    {% if form.gender.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.gender.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.blood_group.id_for_label }}" class="form-label">{{ form.blood_group.label }}</label>
                                    {{ form.blood_group }}
                                    {% if form.blood_group.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.blood_group.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <!-- Contact Information -->
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="border-bottom pb-2 mb-3 mt-4">Contact Information</h5>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.phone_number.id_for_label }}" class="form-label">{{ form.phone_number.label }} *</label>
                                    {{ form.phone_number }}
                                    {% if form.phone_number.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.phone_number.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.email.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.emergency_contact_relationship.id_for_label }}" class="form-label">{{ form.emergency_contact_relationship.label }}</label>
                                    {{ form.emergency_contact_relationship }}
                                    {% if form.emergency_contact_relationship.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.emergency_contact_relationship.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.registered_moze.id_for_label }}" class="form-label">{{ form.registered_moze.label }}</label>
                                    {{ form.registered_moze }}
                                    {% if form.registered_moze.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.registered_moze.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <!-- Medical Information -->
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="border-bottom pb-2 mb-3 mt-4">Medical Information</h5>
                            </div>
                        </div>
                        
                        <div class="form-group mb-3">
                            <label for="{{ form.chronic_conditions.id_for_label }}" class="form-label">{{ form.chronic_conditions.label }}</label>
                            {{ form.chronic_conditions }}
                            {% if form.chronic_conditions.errors %}
                                <div class="invalid-feedback d-block">
                                    {% for error in form.chronic_conditions.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <!-- Status -->
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="border-bottom pb-2 mb-3 mt-4">Status</h5>
                            </div>
                        </div>
                        
                        <div class="form-check mb-3">
                            {{ form.is_active }}
                            <label class="form-check-label" for="{{ form.is_active.id_for_label }}">
                                {{ form.is_active.label }}
                            </label>
                        </div>
                        
                        <!-- Form Actions -->
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'mahalshifa:patient_list' %}" class="btn btn-secondary">
                                        <i class="fas fa-arrow-left me-1"></i> Cancel
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-save me-1"></i> Create Patient
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Sidebar with Help Information -->
        <div class="col-md-4">
            <!-- Tips Card -->
            <div class="card">
                <div class="card-header">
                    <h5><i class="fas fa-lightbulb"></i> Tips</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <i class="fas fa-check text-success"></i>
                            Provide accurate personal information
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-check text-success"></i>
                            Include emergency contact details
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-check text-success"></i>
                            List any chronic conditions
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-exclamation-triangle text-warning"></i>
                            ITS ID is optional but recommended
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Required Fields Info -->
            <div class="card">
                <div class="card-header">
                    <h5><i class="fas fa-info-circle"></i> Required Fields</h5>
                </div>
                <div class="card-body">
                    <small class="text-muted">
                        Fields marked with * are required for patient registration.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('patient-create-form');
    
    // Form validation
    form.addEventListener('submit', function(e) {
        const requiredFields = form.querySelectorAll('[required]');
        let isValid = true;
        
        requiredFields.forEach(field => {
            if (!field.value.trim()) {
                isValid = false;
                field.classList.add('is-invalid');
            } else {
                field.classList.remove('is-invalid');
            }
        });
        
        if (!isValid) {
            e.preventDefault();
            alert('Please fill in all required fields.');
        }
    });
    
    // Phone number formatting
    const phoneInputs = form.querySelectorAll('input[type="tel"]');
    phoneInputs.forEach(input => {
        input.addEventListener('input', function() {
            // Basic phone number validation
            const phoneRegex = /^[\d\s\+\-\(\)]+$/;
            if (this.value && !phoneRegex.test(this.value)) {
                this.setCustomValidity('Please enter a valid phone number');
            } else {
                this.setCustomValidity('');
            }
        });
    });
    
    // Email validation
    const emailInput = form.querySelector('input[type="email"]');
    if (emailInput) {
        emailInput.addEventListener('input', function() {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (this.value && !emailRegex.test(this.value)) {
                this.setCustomValidity('Please enter a valid email address');
            } else {
                this.setCustomValidity('');
            }
        });
    }
});
</script>
{% endblock %}
